@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

html,
body {
  font-family: 'Roboto', sans-serif;
}

body {
  @apply bg-gray-900 text-gray-100;
  -webkit-font-smoothing: antialiased;
}

/* Works on Firefox */
body {
  scrollbar-width: thin;
  scrollbar-color: #00b37e transparent;
}

/* Works on Chrome, Edge, and Safari */
body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #00b37e;
  border-radius: 40px;
  border: 3px solid transparent;
}

/* Scroll Sidebar */
.sidebar-scroll {
  scrollbar-width: thin;
  scrollbar-color: #81d8f7 transparent;
}

.sidebar-scroll::-webkit-scrollbar {
  width: 2px;
}

.sidebar-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background-color: #81d8f7;
  border-radius: 40px;
  border: 2px solid transparent;
}

.bg-home {
  background: rgb(11, 32, 28);
  background: linear-gradient(
    90deg,
    rgba(11, 32, 28, 1) 32%,
    rgba(13, 13, 14, 1) 100%
  );
}

/* Sidebar */
.sidebar-show {
  display: flex !important;
  position: absolute;
  bottom: 0;
}

.scroll {
  height: 100%;
  overflow: hidden;
}